<?php

use Illuminate\Support\Facades\Route;
{% for class_name in classes %}
use {{ base_namespace }}\Http\Controllers\{{ class_name }}Controller;
{% endfor %}

/*
|--------------------------------------------------------------------------
| Web Routes
|--------------------------------------------------------------------------
|
| Here is where you can register web routes for your application. These
| routes are loaded by the RouteServiceProvider and all of them will
| be assigned to the "web" middleware group. Make something great!
|
*/

Route::get('/', function () {
    return view('welcome');
});

/*
|--------------------------------------------------------------------------
| Resource Routes (CRUD)
|--------------------------------------------------------------------------
*/
{% for class_name in classes %}

Route::resource('{{ class_name | lower }}s', {{ class_name }}Controller::class);
{% endfor %}
