package {{ base_package }}.dto;

import {{ base_package }}.entity.{{ class_name }};
import lombok.Data;
import lombok.NoArgsConstructor;
import lombok.AllArgsConstructor;
import lombok.Builder;

@Data
@NoArgsConstructor
@AllArgsConstructor
@Builder
public class {{ class_name }}DTO {

{%- for attr in attributes %}
    private {{ attr.attribute_type }} {{ attr.attribute_name }};
{%- endfor %}

    public static {{ class_name }}DTO fromEntity({{ class_name }} entity) {
        if (entity == null) return null;
        {{ class_name }}DTO dto = new {{ class_name }}DTO();
        {%- for attr in attributes %}
        dto.set{{ attr.attribute_name|capitalize }}(entity.get{{ attr.attribute_name|capitalize }}());
        {%- endfor %}
        return dto;
    }

    public {{ class_name }} toEntity() {
        {{ class_name }} entity = new {{ class_name }}();
        {%- for attr in attributes %}
        entity.set{{ attr.attribute_name|capitalize }}(this.{{ attr.attribute_name }});
        {%- endfor %}
        return entity;
    }
}
