import { PartialType } from '@nestjs/swagger';
import { Create{{ class_name }}Dto } from './create-{{ module_name }}.dto';

export class Update{{ class_name }}Dto extends PartialType(Create{{ class_name }}Dto) {}
